{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}MonthlyExpense{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="https://kit.fontawesome.com/6a0d9c6177.js" crossorigin="anonymous"></script>  

        

        <script src="{% static 'main.js' %}"></script>
        
        {% block script %}
        {% endblock %}
        
        <link rel="stylesheet" href="{% static 'Styles.css' %}" />
    </head>
    <body style="background: url(https://i.postimg.cc/fR0PJSCk/b.jpg); background-size: cover; height:90%" >
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div >
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h2>ExpenseTracker</h2>
                </li>
                {% if user.is_authenticated %}
                    
                    <li class="nav-item"  style="margin-left: 170%;">    
                        <a class="nav-link" href="{% url 'details' %}">TrackYourMoney</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">AddYourIncome/Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    </li>
                {% endif %}  
            </div>
          </nav>
        
        <div class="body" >
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>